*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.Header{
  background-color: red;
  height: 100px;
  border-radius: 10px;
  font-size: 30px;
  text-align: center  ;
  margin: 10px;
}
.sidebar1{
  background-color: green;
  height: 100%;
    border-radius: 10px;
  font-size: 30px;
  text-align: center  ;
}
.lorem{
  background-color: yellow;
  height: 100%;
  color: black;
    border-radius: 10px;
  text-align: center  ;
}
.sidebar2{
  background-color: pink;
  height: 100%;
      border-radius: 10px;
  font-size: 30px;
  text-align: center  ;
}
.footer{
  background-color: blue;
  height: 100px;
      border-radius: 10px;
  font-size: 30px;
  text-align: center  ;
  margin: 10px;
}
main{
  margin: 10px;
  display: flex;
  height: calc(100vh/ 3 - 5px);
  gap: 10px;
}
@media (max-width: 1024px) {
  main{
    flex-direction: column;
  }
}